A 40-question multiple-choice exam is sometimes administered in lower-level statistics courses. The exam has a peculiar feature: 10 of the questions have two options, 13 have three options, 13 have four options, and the other 4 have five options. (FYI, this is completely real!) 
What is the probability that, purely by guessing, a student could get at least half of these questions correct? 
Below is a simulation program to answer this question.

In [1]:
import numpy as np
import random as random
import pandas as pd

In [2]:
rng = np.random.default_rng()
n = 0
var1 = pd.DataFrame(rng.integers(0, 2, size=10).reshape((1,10)))
var2 = pd.DataFrame(rng.integers(0, 3, size=13).reshape((1,13)))
var3 = pd.DataFrame(rng.integers(0, 4, size=13).reshape((1,13)))
var4 = pd.DataFrame(rng.integers(0, 5, size=4).reshape((1,4)))

# create 4 datasets with random answers 10000 times:
while n < 9999:
    var1.loc[len(var1.index)] = rng.integers(0, 2, size=10)
    var2.loc[len(var2.index)] = rng.integers(0, 3, size=13)
    var3.loc[len(var3.index)] = rng.integers(0, 4, size=13)
    var4.loc[len(var4.index)] = rng.integers(0, 5, size=4)
    n = n+1

In [3]:
#combine all answers in a single row (one row = one trial), and sum up all right answers (suppose 0 is a right answer)
varall = pd.concat([var1, var2,var3,var4], axis = 'columns')
varall.columns = np.arange(1,41)
varall['sum'] = varall.eq(1).sum(axis=1)
varall.head()

   1  2  3  4  5  6  7  8  9  10  ...  32  33  34  35  36  37  38  39  40  sum
0  0  1  0  1  0  1  1  0  1   1  ...   2   1   3   2   0   3   4   4   2   12
1  0  1  0  1  1  1  1  1  1   1  ...   0   0   1   3   1   1   1   3   4   20
2  1  0  0  0  1  1  0  1  0   0  ...   1   3   1   1   0   4   2   1   0   17
3  0  1  1  1  0  0  1  0  0   1  ...   1   0   0   3   3   0   4   4   3   12
4  0  1  0  1  0  1  1  0  1   0  ...   2   3   0   0   2   2   0   3   4   12

[5 rows x 41 columns]

In [4]:
x=len(varall[varall['sum']>=20])
y=len(varall['sum'])
print(f'Probability of passing a test by randomly choosing an answer is {(x/y)*100} %')

Probability of passing a test by randomly choosing an answer is 1.8800000000000001 %